@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wellcome To Greenwich Educational System</h1>
    <h2>
        @Html.Partial("_LoginPartial")
    </h2>

</div>
<div class="row">
    <div class="col-md-4">
        @if (Request.IsAuthenticated && User.IsInRole("admin"))
        {
            <p><a onclick="window.location='@Url.Action("Index", "Staffs")'" class="btn btn-primary btn-lg">Manage Staff &raquo;</a></p>
            <p><a onclick="window.location='@Url.Action("Index", "Lecturers")'" class="btn btn-primary btn-lg">Manage Lecturer &raquo;</a></p>
        }
        @if (Request.IsAuthenticated && User.IsInRole("staff"))
        {
            <p><a onclick="window.location='@Url.Action("Index", "Students")'" class="btn btn-primary btn-lg">View All Student &raquo;</a></p>
            <p><a onclick="window.location='@Url.Action("Index", "Courses")'" class="btn btn-primary btn-lg">View All Course &raquo;</a></p>
        }
        @if (Request.IsAuthenticated && User.IsInRole("lecturer"))
        {
            <p><a onclick="window.location='@Url.Action("Index", "Students")'" class="btn btn-primary btn-lg">View All Student &raquo;</a></p>
            <p><a onclick="window.location='@Url.Action("Index", "Courses")'" class="btn btn-primary btn-lg">View All Course &raquo;</a></p>
        }
        @if (Request.IsAuthenticated && User.IsInRole("student"))
        {
            <p><a onclick="window.location='@Url.Action("Index", "Students")'" class="btn btn-primary btn-lg">View All Student &raquo;</a></p>
            <p><a onclick="window.location='@Url.Action("Index", "Courses")'" class="btn btn-primary btn-lg">View All Course &raquo;</a></p>
        }
    </div>
</div>