﻿@model GES_APP.ViewModels.TeachingTopicViewModel
@{ ViewBag.Title = "Edit"; }

<h2>Edit</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@using (Html.BeginForm("Edit", "TeachingTopics", FormMethod.Post))
{
@Html.HiddenFor(u => u.TeachingTopic.Id)
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        @Html.LabelFor(p => p.TeachingTopic.Topic.Name)
        @Html.DropDownListFor(p => p.TeachingTopic.TopicId,
              new SelectList(Model.Topics, "Id", "Name"),
              "Select Topic Name",
              new { @class = "form-control" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
