﻿@model IEnumerable<GES_APP.Models.Topic>

@{ ViewBag.Title = "Topic"; }

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Details</th>

    </tr>

    @foreach (var topic in Model)
    {
<tr>
    <td>@topic.Name</td>
    <td>@Html.ActionLink("Edit", "Edit", new { id = topic.Id })</td>
    <td>@Html.ActionLink("Delete", "Delete", new { id = topic.Id })</td>
    <td>@Html.ActionLink("Details", "Details", new { id = topic.Id })</td>

</tr>
}

</table>

@Html.ActionLink("Back to home", "Index", "Home")

