﻿@model GES_APP.ViewModels.ManagerStaffViewModel
@{ ViewBag.TiTle = "Index"; }
@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
{
<p>
    <a onclick="window.location='@Url.Action("Register", "Account")'" class="btn btn-primary btn-lg">New User &raquo;</a>
</p>}
<h3>Student</h3>
<div class="panel-body">
    <table class="table table-striped" id="Index">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        @foreach (var user in Model.Student)
        {
<tr>
    <td>@user.UserName </td>
    <td> @user.Email</td>
    <td> @user.RoleName</td>
    <td>@Html.ActionLink("Edit", "Edit", new { id = user.UserId })</td>
    <td>@Html.ActionLink("Delete", "Delete", new { id = user.UserId })</td>
</tr>
}
    </table>
</div>
<h3>Lecturer</h3>
<div class="panel-body">
    <table class="table table-striped" id="Index">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        @foreach (var user in Model.Lecturer)
        {
<tr>
    <td>@user.UserName </td>
    <td> @user.Email</td>
    <td> @user.RoleName</td>
    <td>@Html.ActionLink("Edit", "Edit", new { id = user.UserId })</td>
    <td>@Html.ActionLink("Delete", "Delete", new { id = user.UserId })</td>
</tr>}
    </table>
</div>
@Html.ActionLink("Back to home", "Index", "Home")

