﻿@model IEnumerable<GES_APP.ViewModels.Users_In_Role>

@{ ViewBag.Title = "Users With Roles"; }

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("New User","Register", "Account")
</p>}
<h3>Account</h3>

<div class="panel-body">
    <table class="table table-striped" id="UsersWithRoles">
        <thead>
            <tr>
                <th>FullName</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>ResetPass</th>


            </tr>
        </thead>
        @foreach (var user in Model)
        {
<tr>
    <td>@user.Name</td>
    <td>@user.Username</td>
    <td>@user.Email</td>
    <td>@user.Role</td>
    <td>@Html.ActionLink("Edit", "Edit", new { id = user.UserId })</td>
    <td>@Html.ActionLink("Delete", "Delete", new { id = user.UserId })</td>
    <td>@Html.ActionLink("ResetPass", "ResetPass", new { id = user.UserId })</td>


</tr>}
    </table>
</div>



@section scripts{
    <script>
        $(function () {
            $('#UsersWithRoles').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });</script>
}
@Html.ActionLink("Back to home", "Index", "Home")



